services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        VITE_backendUrl: ${VITE_backendUrl}

    container_name: acf-demo-frontend
    ports:
      - "8080:8080"
    restart: unless-stopped